<!--
  Generated template for the EditProfile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Edit Profile</ion-title>
    <ion-buttons end> <button ion-button (click)="done()">Done</button> </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content >

  <div>
    <div class='wrapper'>
      <div class='container' [dragula]='"first-bag"' [dragulaModel]='images1' [dragulaOptions]="options">

        <div class="image" *ngFor="let item of images1">
          <img src="{{item}}" class="image-gallery">
          
          <ion-fab class="image-fab">
            <button ion-fab color="danger" mini class="mini-fab" (click)="presentActionSheet(0)">
            <ion-icon *ngIf="item" name="remove"></ion-icon>
            <ion-icon *ngIf="!item" name="add"></ion-icon>
            </button>
          </ion-fab>
        </div>
        
      </div>

      <div class='container' [dragula]='"first-bag"' [dragulaModel]='images2' [dragulaOptions]="options" >

        <div class="image" *ngFor="let item of images2">
          <img src="{{item}}" class="image-gallery">
          
          <ion-fab class="image-fab">
            <button ion-fab color="danger" mini class="mini-fab" (click)="presentActionSheet(0)">
            <ion-icon *ngIf="item" name="remove"></ion-icon>
            <ion-icon *ngIf="!item" name="add"></ion-icon>
            </button>
          </ion-fab>
        </div>

      </div>
    </div>
  </div>


<!--   <ion-row wrap class="gallery">

    <ion-col width-33>
      <img src="https://placeholdit.imgix.net/~text?txtsize=20&txt=1&w=150&h=150" class="image-gallery">
      <ion-fab class="image-fab">
        <button ion-fab color="danger" mini class="mini-fab" (click)="presentActionSheet(0)">
        <ion-icon *ngIf="user.images['0']" name="remove"></ion-icon>
        <ion-icon *ngIf="!user.images['0']" name="add"></ion-icon>
        </button>
      </ion-fab>
    </ion-col>

    <ion-col width-33>
      <img src="{{user.images[1]}}" class="image-gallery">
      <ion-fab class="image-fab">
        <button ion-fab color="danger" mini class="mini-fab" (click)="presentActionSheet(user.images[1])">
        <ion-icon *ngIf="user.images['1']" name="remove"></ion-icon>
        <ion-icon *ngIf="!user.images[1]" name="add"></ion-icon></button>
      </ion-fab>
    </ion-col>

    <ion-col width-33 >
      <img src="{{user.images[2]}}" class="image-gallery">
      <ion-fab class="image-fab">
        <button ion-fab color="danger" mini class="mini-fab" (click)="presentActionSheet(user.images[2])">
        <ion-icon *ngIf="user.images[2]" name="remove"></ion-icon>
        <ion-icon *ngIf="!user.images[2]" name="add"></ion-icon></button>
      </ion-fab>
    </ion-col>

    <ion-col width-33 *ngIf="!maxPhotos">
      <ion-card>
        <img src="http://orig06.deviantart.net/583f/f/2012/027/b/6/fondo_png_500x500_by_puppyeditions-d4ntlgx.png">
        <ion-fab class="add-fab">
          <button ion-fab color="vibrant" mini class="mini-fab add-fab" (click)="cameraActionSheet()"><ion-icon name="add"></ion-icon></button>
        </ion-fab>
      </ion-card>
    </ion-col>

  </ion-row>

  <ion-row wrap class="gallery">
 
    <ion-col width-33>
      <img src="{{user.images[3]}}" class="image-gallery">
      <ion-fab class="image-fab">
        <button ion-fab color="danger" mini class="mini-fab" (click)="presentActionSheet(3)">
        <ion-icon *ngIf="user.images[3]" name="remove"></ion-icon>
        <ion-icon *ngIf="!user.images[3]" name="add"></ion-icon>
        </button>
      </ion-fab>
    </ion-col>

    <ion-col width-33>
      <img src="{{user.images[4]}}" class="image-gallery">
      <ion-fab class="image-fab">
        <button ion-fab color="danger" mini class="mini-fab" (click)="presentActionSheet(user.images[4])">
        <ion-icon *ngIf="user.images[4]" name="remove"></ion-icon>
        <ion-icon *ngIf="!user.images[4]" name="add"></ion-icon></button>
      </ion-fab>
    </ion-col>

    <ion-col width-33 >
      <img src="{{user.images[5]}}" class="image-gallery">
      <ion-fab class="image-fab">
        <button ion-fab color="danger" mini class="mini-fab" (click)="presentActionSheet(user.images[5])">
        <ion-icon *ngIf="user.images[5]" name="remove"></ion-icon>
        <ion-icon *ngIf="!user.images[5]" name="add"></ion-icon></button>
      </ion-fab>
    </ion-col>
    
  </ion-row>

 -->

  <ion-card>
    <ion-card-header>
      About me
    </ion-card-header>
    <ion-card-content>
      <ion-textarea [(ngModel)]="msg"></ion-textarea>
    </ion-card-content>
  </ion-card>
  <ion-card class="gender">
    <ion-card-header>Gender</ion-card-header>
    <ion-card-content>
      <ion-list radio-group [(ngModel)]="gender">
        <ion-grid>
          <ion-row>
            <ion-col width-50>
              <ion-item>
                <ion-label>Male</ion-label>
                <ion-radio value="Male"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col width-50>
              <ion-item>
                <ion-label>Female</ion-label>
                <ion-radio value="Female"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col offset-10 width-80><button ion-button (click)="showPage('descent')" full color="light">Greek Descent</button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset-10 width-80><button ion-button (click)="showPage('speak')" full color="light">Speak Greek</button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset-10 width-80><button ion-button (click)="showPage('area')" full color="light">Greek Location</button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset-10 width-80><button ion-button (click)="showPage('church')" full color="light">Orthodox Christian</button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><button class="center" ion-button (click)="updateFacebook()" full>Update from Facebook</button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>