page-edit-profile {
  .gender .item{
    padding: 0;
  }

  .image{
    display: table-cell;
    position: relative;
    .image-fab{
      bottom: 0;
      right: 0;
    }
  }

}

.toast-success {
  > div{
       background-color:#32db64!important;
       text-align: center !important;
       border-radius: 15px !important;
       margin-left: 10% !important;
       margin-top: 10% !important;
       vertical-align: center !important; 
   }
}